<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="/manager/common/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" style="height: auto;">
    <!--首部-->
    <header th:include="/student/common/header :: header" class="main-header"></header>
    <!--侧边栏-->
    <aside th:include="/student/common/sidebar :: sidebar" class="main-sidebar"></aside>

    <div class="content-wrapper" style="min-height: 901px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                个人信息
                <small>Preview page</small>
            </h1>
            <ol class="breadcrumb">
                <li>HOME</li>
                <li class="active">个人</li>
                <li class="active">编辑</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">个人
                                <small>Advanced and full of features</small>
                            </h3>
                        </div>
                        <form id="mainform" action="{{url('/student/edit/')}}" method="POST"
                              enctype="multipart/form-data">
                            <div class="col-sm-6" style="float: right;">
                                <div class="input-group input-group-sm" style="width: 500px;">
                                    <div class="input-group-btn">
                                        <button id="submitButton3" type="submit" class="btn btn-info"
                                                onclick="confirm('确认修改？')"> 编辑
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body pad" style="display: block;">
                                <div class="form-group">
                                    <th><label for="noticeTitle">学号</label></th>&emsp;&emsp;&emsp;&emsp;&emsp;
                                    <td th:text = "${user_id}"></td>
                                </div>
                                <div class="form-group">
                                    <label for="noticeTitle">name</label>
                                    <input type="text" name="name" class="form-control"
                                           th:value="${name}">
                                </div>
                                <div class="form-group">
                                    <label for="noticeTitle">password</label>
                                    <input type="password" name="password" class="form-control"
                                           th:value="${password}">
                                </div>
                                <div class="form-group">
                                    <label for="noticeTitle">电话</label>
                                    <input type="text" name="phone" class="form-control"
                                           th:value="${phone}">
                                </div>
                                <div class="form-group">
                                    <label for="noticeTitle">学院</label>
                                    <input type="text" name="academy" class="form-control"
                                           th:value="${academy}">
                                </div>
                                <div class="form-group">
                                    <label for="noticeTitle">专业</label>
                                    <input type="text" name="major" class="form-control" id="noticeTitle"
                                           th:value="${major}">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>

                <div class="col-md-8">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">已借书籍</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table">
                                <tbody>
                                <tr >
                                    <th>书名</th>
                                    <th>作者</th>
                                    <th>还书</th>
                                </tr>
                                <tr th:each="book: ${borrowBookList}">
                                    <td th:text="${book.name}"></td>
                                    <td th:text="${book.author}"></td>
                                    <td>
                                        <form action="/student/book/detail/giveback" method="post">
                                            <button type="submit" class="btn btn-warning" name = "givebackButton" th:value="${book.id}">还书</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">预定书籍</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>书名</th>
                                    <th>作者</th>
                                    <th>借书</th>
                                    <th>取消</th>
                                </tr>
                                <tr th:each="book: ${predetermineBookList}">
                                    <td th:text="${book.name}"></td>
                                    <td th:text="${book.author}"></td>
                                    <td>
                                        <form action="/student/book/detail/borrow" method="post">
                                            <button type="submit" class="btn btn-info" name = "borrowButton" th:value="${book.id}">借阅</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/student/book/detail/cancel" method="post">
                                            <button type="submit" class="btn btn-danger" name = "cancelButton" th:value="${book.id}">取消</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col-->
            </div>
            <!-- ./row -->
        </section>
    </div>
    <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
</div>
<!-- ./wrapper -->
<!-- jQuery 3 -->
<script src="/Template/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/Template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/Template/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/Template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/Template/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/Template/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/Template/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/Template/dist/js/demo.js"></script>
</body>
</html>
