<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="/manager/common/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" style="height: auto;">
    <!--首部-->
    <header th:include="/manager/common/header :: header" class="main-header"></header>
    <!--侧边栏-->
    <aside th:include="/manager/common/sidebar :: sidebar" class="main-sidebar"></aside>

    <div class="content-wrapper" style="min-height: 901px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                学生
                <small>管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a><i class="fa fa-th"></i> Home</a></li>
                <li><a>学生管理</a></li>
                <!--<li class="active">Data tables</li>-->
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="dataTables_length" id="example1_length"><label>Show <select
                                                name="example1_length" aria-controls="example1"
                                                class="form-control input-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entries</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="example1_filter" class="dataTables_filter"><label>Search:<input
                                                type="search" class="form-control input-sm" placeholder=""
                                                aria-controls="example1"></label></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1" class="table table-bordered table-striped dataTable"
                                               role="grid" aria-describedby="example1_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting"
                                                    aria-label="Rendering engine: activate to sort column ascending">id
                                                </th>
                                                <th>名字</th>
                                                <th class="sorting"
                                                    aria-label="Browser: activate to sort column ascending">学号
                                                </th>
                                                <th class="sorting"
                                                    aria-label="Platform(s): activate to sort column ascending">电话
                                                </th>
                                                <th class="sorting" aria-label="activate to sort column ascending">学院
                                                </th>
                                                <th class="sorting" aria-label="activate to sort column ascending">专业
                                                </th>
                                                <th class="sorting"
                                                    aria-label="Rendering engine: activate to sort column ascending">性别
                                                </th>
                                                <th class="sorting"
                                                    aria-label="Rendering engine: activate to sort column ascending">年级
                                                </th>
                                                <th class="sorting"
                                                    aria-label="Rendering engine: activate to sort column ascending">
                                                    借书资格
                                                </th>
                                                <th class="sorting"
                                                    aria-label="Rendering engine: activate to sort column ascending">信誉度
                                                </th>
                                                <th>恢复资格</th>
                                                <th>取消资格</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" class="odd" th:each="student: ${studentList}">
                                                <td th:text="${student.id}"></td>
                                                <td th:text="${student.name}"></td>
                                                <td th:text="${student.user_id}"></td>
                                                <td th:text="${student.phone}"></td>
                                                <td th:text="${student.academy}"></td>
                                                <td th:text="${student.major}"></td>
                                                <td th:text="${student.sex}"></td>
                                                <td th:text="${student.grade}"></td>
                                                <td th:text="${student.card}"></td>
                                                <td th:text="${student.credit}"></td>
                                                <form action="/manager/student/restore" method="post">
                                                    <td>
                                                        <button type="submit" class="btn btn-warning" href="#"
                                                                th:name="restoreButton" th:value="${student.id}">恢复资格
                                                        </button>
                                                    </td>
                                                </form>
                                                <form action="/manager/student/cancel" method="post">
                                                    <td>
                                                        <button type="submit" class="btn btn-danger"
                                                                th:name="cancelButton" th:value="${student.id}">取消资格
                                                        </button>
                                                    </td>
                                                </form>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="dataTables_info" id="example1_info" role="status"
                                             aria-live="polite">

                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button previous disabled" id="example1_previous">
                                                    <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">
                                                        Previous
                                                    </a>
                                                </li>
                                                <li class="paginate_button active">
                                                    <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">
                                                        1
                                                    </a>
                                                </li>
                                                <li class="paginate_button next" id="example1_next">
                                                    <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">
                                                        Next
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    </div>
    <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
</div>
<!-- ./wrapper -->
<!-- jQuery 3 -->
<script src="/Template/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/Template/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="/Template/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/Template/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/Template/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/Template/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/Template/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/Template/dist/js/demo.js"></script>
</body>
</html>
