<header class="main-header">
    <!-- Logo -->
    <a  class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        {{--<span class="logo-mini"><b>A</b>LT</span>--}}
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>刷题</b>管理后台</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/Template/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">管理员</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/Template/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                            <p>
                                <small>图书馆</small>
                                管理员
                            </p>
                        </li>
                        <!-- Menu Body -->

                        <!-- Menu Footer-->
                        <!--<li class="user-footer" >-->
                            <!--{{&#45;&#45;<a href="{{ route('logout') }}" class="btn btn-default btn-flat">Sign out</a>&#45;&#45;}}-->

                            <!--<a href="{{ route('logout') }}"-->
                               <!--onclick="event.preventDefault();-->
                                                     <!--document.getElementById('logout-form').submit();">-->
                                <!--<span class="glyphicon glyphicon-log-in"></span> Sign out-->
                            <!--</a>-->
                            <!--<form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">-->
                                <!--{{ csrf_field() }}-->
                            <!--</form>-->
                        <!--</li>-->
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>




